{% extends 'home2/base.html' %}
  
{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <!-- {{ field.label_tag }}<br> -->
        <label>hello</label><br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">ثبت نام</button>
    <h6>do you signup </h6>                
    <a class="pull-right" href="{% url 'signin' %}">ورود</a>

  </form>
{% endblock %}